@media (max-width:1400px) {
    .home__photo{
        width: 45rem;
        height: 45rem;
    }
}

@media (max-width:1200px) {
    .home__photo{
        width: 38rem;
        height: 38rem;
    }
}

@media (max-width:992px) {
    .row{
        flex-wrap: wrap;
    }
    .nav__logo{
        font-size: 4rem;
    }
    .menu{
        gap: 3rem;
        
    }
    .menu__link{
        font-size: 14px;
    }
    .flex-column{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .home__content{
        text-align: center;
    }
    .home__links{
        justify-content: center
    }
}

@media (max-width:768px) {
    .menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 0;
        overflow: hidden;
        transition: all 200ms ease-in-out;
        margin-top: 2rem;
    }
    .menu--open{
        height: 33rem;

    }
    .nav__toggle-icon{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

@media (max-width:576px) {
    .home__name{
        font-size: 18px;
    }
    .home__titel{
        font-size: 36px;
    }
    .home__links--btn{
        width: 12rem;
        height: 4.5rem;
    }
    .home__photo{
        width: 34rem;
        height: 34rem;
        background-position-x: -105px;
    }
}
@media (max-width:380px){
    .home__photo{
        width: 30rem;
        height: 30rem;
        background-position-x: -100px;
    }

}

